/* RESETANDO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* // RESETANDO CSS */

body {
    background-image: url(./assets/bg2.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}
/* FEITO POR MIM */
header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

.title {
    text-align: center;
    color: white;
    padding: 10px;
}

header p {
    color: #A1A1AA;
}

header .divImagem {
    margin: auto;
    width: 120px;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header .divImagem:hover {
    transform: scale(1.1);
}

header .divImagem img {
    width: 100%;
    border-radius: 50%;
}
/* // FEITO POR MIM  */

main {
    display: grid;
    gap: 24px;
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    padding-top: 80px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.movies-list img {
    border-radius: 8px;
    width: 90px;
}

.series-list img {
    border-radius: 8px;
    width: 90px;
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}


.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

/* animation */
/* or 0% to 100% */

header div {
    animation: fromTop .7s .1s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0 ;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width: 500px) {
    main {
        padding-top: 100px;
    }
    section {
        text-align: center;
    }
}
